.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.bg-grey{
    background-color: #222831;
    color: #F4F6FF;
}

.bg-black{
    background-color: #021526;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 13px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b1f24;
}
 
* {
  scrollbar-width: thin;
  scrollbar-color: #222831 #393e46;
}
